<% include ./partials/header%>
<head>
<style >
	body{
		background-image: url('https://images.unsplash.com/photo-1559566709-5fc85ef5349c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: rgb(255,255,255);
	}
	html{
		height: 100%;
	}

	

</style>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="text-align:left">
				
				<h1>What we do ?</h1>
		<h3>We provide passionate reader with the book they need in a very afordable price.As the books are becoming costly, its not possible for every one to have their own copy.Another problem related to buying books is that after reading the book we need a place to pile those books.</h3>
	<h1>Good News</h1>
				<h3>
					We provide our user to earn money by renting their books, so that instead of just stacking thier books one above another they can help the like mind in getting the best books.
				</h3>
	<h2>Get the best books with the reviews of many users</h2>
	<h3> User can easily borrow books for just ₹59 for 15 days.This reduce the need of user to buy coslty books and finding place to  stack book after reading. </h3>
			</div>
			
		</div>
	   
</div>


	<% include ./partials/footer%>