<!DOCTYPE html>
<html>
<head>
<title>Book Hub</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/abb6a4707f.js"></script>
</head>

<style type="text/css">
body{
background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=853&q=80');
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

#content{
text-align: center;
margin-top: 25%;
color: #FFF;
}

html{
height: 100%;
}

h1{
font-size: 4em;
font-weight: 700;
}
hr{
width: 400px;
}

nav .navbar-nav li a{
  color: white !important;
  font-size: 1.4rem;
  }

  .navbar-brand{
  font-size: 2rem;
  color: white !important;
  }
</style>
<body>
<nav class="navbar navbar-inverse bg-transparent navbar-expand-sm">
<a href="#" class="navbar-brand"><img src="https://cdn4.iconfinder.com/data/icons/modern-education-1/128/3-512.png" height="30" width="30"> Book Hub</a>
<button class="navbar-toggler" data-toggle="collapse" data-target="#navcollapse">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navcollapse">
<ul class="navbar-nav mr-auto">
<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
</ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="login">Log In <i class="fas fa-user"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="register">Sign Up <i class="fas fa-user-plus"></i></a></li>
    </ul>
</div>

</nav>

<div class="container">
<div class="row">
<div class="col-lg-12">
<div id="content">
<h1>A Perfect Place For All Books</h1>
<h3>Lending Books Never So Easy </h3>

<hr>
<button class="btn btn-default btn-lg"><img src="https://lend-it.herokuapp.com/images/borrow-icon.png" height="30" width="30"><a href="/books">Get started!</a></button>
</div>

</div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>


