<% include partials/header %>

<form action="/login" method="POST">
	username:<input type="text" name="username">
	password:<input type="password" name="password">
	<input type="submit">
	
</form>

<% include partials/footer %>